OriginalGameOne/.vs/
OriginalGameOne/.vsconfig
OriginalGameOne/Assembly-CSharp.csproj
OriginalGameOne/OriginalGameOne.sln
OriginalGameOne/Library/
OriginalGameOne/Logs/
OriginalGameOne/obj/
OriginalGameOne/Packages/
OriginalGameOne/ProjectSettings/
OriginalGameOne/UserSettings/
